<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Mac Address</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Date Recorded</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of pagination.content | paginate: {itemsPerPage: dataSize, currentPage: page, totalItems: pagination.totalElements}">
           <td>{{log.id}}</td> 
           <td>{{log.macAddress}}</td>
           <td>{{log.temperature}}</td>
           <td>{{log.humidity}}</td>
           <td>{{log.dateRecorded}}</td>
        </tr>
    </tbody>
    <div class="spinner" [ngClass]="{ 'hidden': !isLoading }"></div>
    <pagination-controls (pageChange)="updatePage($event)"></pagination-controls>
</table>