.proj-name {
    font-family: 'Segoe UI';
    font-size: 50px;
    font-weight: bold;
}

.build-name {
    font-size: 40px;
    font-weight: bold;
}

.map {
    min-height: 720px;
    min-width: 1280px;
}

.map-wrapper {
    height: 720px;
    width: 1280px;
    overflow: auto;
    background-color: white;
}

.btn_floor {
    color: white;
}

.side_nav_header {
    color: white;
    text-decoration: underline;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.logo {
    background-color: #FB3640;
}

.side_panel {
    background-color: #ECF0F1;
}