.status-report-container {
    background-color: grey;
    height: 100%;
    min-height: 100vh;
}

.main {
    display: flex;
    align-items: stretch;
}

.side-navigation-reports {
    background-color: #FB3640;
    height: auto;
}

.report-table {
    height: 100%;
}